p,h1,label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #000000, #0c1d0c, #0e420e, #102210, #0a0a0a);
    background-size: cover;
    background-repeat: no-repeat;
}

#site-header {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 60px;
    background-color: black;  
}


#p-logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}

.p-header {
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

.profile {
    margin-left: 25px;
    margin-bottom: 10px;
}

#btn-site {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    margin-left: 890px;
}

#form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    margin-top: 80px;
    border-radius: 10px;
}

#Name, #Email, #Topic {
    border-radius: 6px;
    width: 300px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    border: 1px solid black;
}

#Message {
    border-radius: 6px;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    border: 1px solid black;
}

.Label-name {
    margin-top: 20px;
    margin-right: 250px;
}

.logo {
    color: blue;
}

.Label-email {
    margin-top: 20px;
    margin-right: 260px;
}

.Label-topic {
    margin-top: 20px;
    margin-right: 245px;
}

.Label-message {
    margin-top: 20px;
    margin-right: 225px;
}

#send {
    height: 50px;
    width: 100px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(162, 255, 164);
    cursor: pointer;
}

#site-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 250px;
    background-color: black;  
    margin-top: 130px;
}

i {
    color: white;
    font-size: 30px;
}

.bi {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25px;
}

#social-media {
    display: flex;
    flex-direction: row;
}

.p-header:hover {
    border-bottom: 1px solid white;
}